<?xml version="1.0"?>
<launch>
    <node pkg="handcart_shaft" type="handcart_shaft" name="shaft" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="115200"/>
        <param name="angle_frame" value=""/>
        <param name="angle_topic" value="shaft_angle"/>
    </node>
    
    <node pkg="handcart_shaft_angle_controller" type="handcart_shaft_angle_controller" name="shaft_angle_controller" output="screen">
        <param name="angle_topic" value="shaft_angle"/>
        <param name="cmd_topic" value="ackermann_cmd"/>
        <param name="max_speed" value="3.5"/>
        <param name="max_reverse_speed" value="0"/>
        <param name="forward_shaft_drop_threshold" value="1"/>
        <param name="reverse_shaft_drop_threshold" value="0.05"/>
    </node>
</launch>
