<?xml version="1.0"?>
<launch>
    <node pkg="handcart_shaft" type="handcart_shaft" name="shaft" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="115200"/>
        <param name="shaft_frame" value=""/>
        <param name="shaft_topic" value="shaft_rotation"/>
    </node>
    
    <node pkg="handcart_shaft_angle_controller" type="diff_controller" name="shaft_diff_controller" output="screen">
        <param name="angles_topic" value="shaft_rotation"/>
        <param name="cmd_topic" value="ackermann_cmd"/>
        <param name="max_speed" value="4.0"/>
        <param name="max_acceleration" value="4.0"/>
        <param name="hold_angle" value="0.65"/>
        <param name="hysteresis" value="0.01"/>
        <param name="shaft_drop_threshold" value="0.1"/>
        <param name="shaft_up_threshold" value="1.55"/>
    </node>
</launch>
